@font-face {
  font-family: 'UhBeeSe_hyun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

html, body, #root {
  font-family: 'UhBeeSe_hyun', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #FFF0CA;
  color: #000000;
  font-weight: bold;
}

button {
  font-size: 16px;
  font-weight: bold;
  font-family: inherit;
}

input {
  font-family: "UhBeeGENWOO", serif;
  font-weight: bold;
  background: none;
  border: none;
  font-size: 16px;
} :focus {
  outline: none;
}

textarea  {font-family: "UhBeeGENWOO", serif; }

p {
  margin: 0;
}